<h2>Hello</h2>

<!--<p class="icon icon-example-works"><%= l(:text_say_hello) %></p> 
-->

<p><label>Generating license file for</label>:
<p>User <%= @myUser.login %>: also known as <%= @myUser.firstname %> <%= @myUser.lastname %></p>
<!-- <%= link_to('Good bye', :action => 'say_goodbye', :id => @project) if User.current.allowed_to?(:example_say_goodbye, @project) %>
-->
<% content_for :sidebar do %>
  <p>What you should now about licenses</p>
<% end %>
