<h2>License for user <%= @user %></h2>
<p>API-key is: <%= @api_key.inspect %></p>
<% ownerdata = {}; info = @info; ownerdata = @info['ownerdata'] if @info and @info['ownerdata'] %>
<% if info %>
  <ul>
    <li>customerId: <%= ownerdata['customerId'] %> </li>
    <li>projectId: <%= ownerdata['projectId'] %> </li>
    <li>organization: <%= ownerdata['organization'] %> </li>
    <li>numberOfStations: <%= ownerdata['numberOfStations'] %> </li>
    <li>numberOfPractitioners: <%= ownerdata['numberOfPractitioners'] %> </li>
  </ul>
  <ol>
  <% info['license'].each{ |item| %>
    <li><h3><%= item['id'] %></h3>
      <ul>
          <li>licenseType: <%= item['licenseType'] %> </li>
          <li>startOfLicense: <%= item['startOfLicense'] %> </li>
          <li>endOfLicense: <%= item['endOfLicense'] %> </li>
          <li>raw data: <%= item.inspect %>
      </ul>
    </li>
  <% } %>
  </ol>
  <h2>Info (raw data)</h2>
  <%= @info.inspect %>
<% else %>
  <h3>Invalid license for user <%= @user ? @user.login : 'no valid user' %></h3>
<% end %>

 

