<h2>License for user <%= @user %></h2>
<p>API-key is: <%= @api_key%></p>
<% info = @info; ownerdata = info['ownerdata'] if @info %></br>
<% if info %>
  <ul>
    <li>customerId: <%= ownerdata['customerId'] %> </li>
    <li>projectId: <%= ownerdata['projectId'] %> </li>
    <li>organization: <%= ownerdata['organization'] %> </li>
    <li>numberOfStations: <%= ownerdata['numberOfStations'] %> </li>
    <li>numberOfPractitioners: <%= ownerdata['numberOfPractitioners'] %> </li>
  </ul>
  <% info['license'].each{ |item| %>
  <ol>
    license:<%= item.inspect %></br>
    <li>Lizenz for <h3><%= item['id'] %></h3></li>
    <ul>
      <li>licenseType: <%= item['licenseType'] %> </li>
      <li>startOfLicense: <%= item['startOfLicense'] %> </li>
      <li>endOfLicense: <%= item['endOfLicense'] %> </li>
    <ul>
  </ol>
  <% } %>
  Info (raw data): <%= @info.inspect %></br>
<% else %>
  Lizenz ungültig!
<% end %>

 

