<h2>Rechnungslauf für Medelexis-Abonnemente </h2>


<%= form_for 'rechnungslauf_form'  do |f| %>
  <br>
  <%#  <%= f.date_select(:invoice_since, :dummy, :selected => Date.today.beginning_of_year) %>
  <%= f.label :invoice_since, "läuft vom:"  %>
  <%= f.date_select :invoice_since, { :start_year => 2010,  :end_year => Date.today.year+5,
  :default => Date.today.beginning_of_year.to_date } %>
  <br>
  <%= f.label :invoice_til, 'bis Stichtag' %>
  <%= f.date_select :release_date, { :start_year => 2010,  :end_year => Date.today.year+5,
  :default => Date.today.end_of_year.to_date } %>
  <br>
  <br>
  <%= f.label :label_1, "Projekt (ID, z.B. 4 oder Kürzel. z.B. 'pesc')" %>
  <%= f.text_field :project_to_invoice %>
  <br>
  <%= f.label :label_2, 'Bei leerem Projektfeld werden alle Projekte geholt' %>
  <br>
  <br>
  <%= f.submit 'Rechnungslauf starten' %>

<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
  <%= stylesheet_link_tag :products, :plugin => 'redmine_products' %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>

